@charset "utf-8";
.pagination {
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, 宋体, 宋体, Tahoma, Arial, Helvetica, STHeiti;
}
.pagination a {
    text-decoration: none;
    border: 1px solid #cccccc;
    background:#fff;
    border-radius:3px;
}

.pagination a, .pagination span {
    display: inline-block;
    line-height:30px;
    padding:0 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius:3px;
}

.pagination .current {
    background: #fff;
    color: #c1c3ca;
    border: 1px solid #c3c5cc;
}

.pagination .current.prev, .pagination .current.next{
    background:#fff;
    border: 1px solid #cccccc;

}